In [13]:
from pathlib import Path
import pandas as pd
import numpy as np

In [14]:
csvpath = Path('../Pandas/people.csv')
csvpath = pd.read_csv(csvpath, index_col="id")
csvpath.head()

,first_name,last_name,email,gender,uni_grad,job_title,Income
id,,,,,,,
1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

##  Generate Summary Statistics on the DataFrame

In [15]:
# Use the `include` parameter set to 'all' to include all columns (and datatypes)
csvpath.describe(include="all")
csvpath.sort_index(axis=0,ascending=True,inplace=False,kind='quicksort',na_position='last',sort_remaining=True)
csvpath

,first_name,last_name,email,gender,uni_grad,job_title,Income
id,,,,,,,
1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0
...,...,...,...,...,...,...,...
996.0,Meta,Crumpton,mcrumptonrn@qq.com,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0
997.0,Gunar,Gilford,ggilfordro@yandex.ru,Male,Smolny University,Marketing Manager,76109.0
998.0,Lucretia,Gurling,lgurlingrp@de.vu,Female,Institut Teknologi Telkom,Software Engineer III,92115.0
999.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0
1000.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0

## View Columns Names

In [39]:
# Use the `columns` attribute to output the column names
csvpath.columns

Index(['first_name', 'last_name', 'email', 'gender', 'uni_grad', 'job_title',
       'Income'],
      dtype='object')

## View Column Data Types

In [18]:
# Use the `dtypes` attribute to output the column names and data types
#csvpath.drop("gender", axis=1).describe(include="all")

## Rename Columns Using List

In [23]:
# Set the `columns` attribute to a new list of column names
csvpath.columns=(["A", "B", "C", "D", "E", "F'])
csvpath.head()

SyntaxError: EOL while scanning string literal (<ipython-input-23-c706a2bd3196>, line 2)


## Rename Columns Using Dictionary

In [ ]:
# Use the `rename` function and set the `columns` parameter to a dictionary of new column names

## Re-order Columns

In [ ]:
# Use a list of re-ordered column names to alter the column order of the original DataFrame

## Create Additional Column

In [ ]:
# Use the `randint` function to randomly generate an `Age` from 22 to 65 for 1000 rows

## Delete Columns

In [15]:
# Use the `drop` function to delete the newly created `Age` column

## Save Modified DataFrame to New CSV

In [16]:
# Save the DataFrame to the `Resources` folder