## PART 1: Portfolio Optimization

## PART 2: Portfolio Optimization via Correlation and Return-to-Risk (Sharpe Ratio) Evaluations

In [ ]:
#via Risk EvaluationReads in the CSV datasets of 10 stocks, calculates the volatility of each stock,
#drops the top-five highly volatile stocks, sets allocations for the remaining stocks based on risk/volatility, and calculates the returns
#of a hypothetical $10,000 investment for the constructed portfolio.

In [1]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

##  Read CSVs as DataFrames

In [2]:
 # Set the file paths
bk_data = Path("../Pandas/bk_data.csv")
fang_data = Path("../Pandas/fang_data.csv")
jnj_data = Path("../Pandas/jnj_data.csv")
luv_data = Path("../Pandas/luv_data.csv")
mu_data = Path("../Pandas/mu_data.csv")
nke_data = Path("../Pandas/nke_data.csv")
sbux_data = Path("../Pandas/sbux_data.csv")
t_data = Path("../Pandas/t_data.csv")
wdc_data = Path("../Pandas/wdc_data.csv")
wrk_data = Path("../Pandas/wrk_data.csv")

# Read the CSVs and set the `date` column as a datetime index to the DataFrame
bk_df = pd.read_csv(bk_data, index_col="date", infer_datetime_format=True, parse_dates=True)
fang_df = pd.read_csv(fang_data, index_col="date", infer_datetime_format=True, parse_dates=True)
jnj_df = pd.read_csv(jnj_data, index_col="date", infer_datetime_format=True, parse_dates=True)
luv_df = pd.read_csv(luv_data, index_col="date", infer_datetime_format=True, parse_dates=True)
mu_df = pd.read_csv(mu_data, index_col="date", infer_datetime_format=True, parse_dates=True)
nke_df = pd.read_csv(nke_data, index_col="date", infer_datetime_format=True, parse_dates=True)
sbux_df = pd.read_csv(sbux_data, index_col="date", infer_datetime_format=True, parse_dates=True)
t_df = pd.read_csv(t_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wdc_df = pd.read_csv(wdc_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wrk_df = pd.read_csv(wrk_data, index_col="date", infer_datetime_format=True, parse_dates=True)

# Display a few rows
wrk_df.head()

            close
date
2019-05-20  35.15
2019-05-17  36.66
2019-05-16  37.42
2019-05-15  37.44
2019-05-14  37.19

## Combine DataFrames, Sort Index, and Rename Columns

In [3]:
# Create a new pivot table where the columns are the closing prices for each ticker
port = pd.concat([bk_df, fang_df, jnj_df,luv_df, mu_df,nke_df,sbux_df,t_df,wdc_df,wrk_df], axis = 'columns', join = 'inner')


# Sort datetime index in ascending order (past to present)
port.sort_index(inplace = True)


# Set column names
port.columns = ['FB', 'FANG', 'JNJ', 'LUV', 'MU', 'NKE', 'SBUX', 'T', 'WDC', 'WRK']


# Display a few rows
port.head(25)

,FB,FANG,JNJ,LUV,MU,NKE,SBUX,T,WDC,WRK
date,,,,,,,,,,
2015-06-24,43.29,77.955,77.955,34.35,24.06,53.110,53.710,35.78,87.730,58.5699
2015-06-25,42.85,76.390,76.390,34.49,24.02,52.610,54.070,36.18,85.950,57.2022
2015-06-26,42.98,75.250,75.250,34.32,19.66,54.855,54.620,36.12,84.450,57.2022
2015-06-29,41.79,75.160,75.160,33.18,18.73,53.835,53.550,35.77,81.960,56.1857
2015-06-30,41.97,75.380,75.380,33.09,18.84,54.010,53.615,35.52,78.420,56.2781
2015-07-01,42.18,72.820,72.820,32.62,18.78,54.715,53.890,35.57,79.440,57.6643
2015-07-02,41.79,73.130,73.130,32.51,19.07,54.935,54.240,35.73,80.870,60.0577
2015-07-06,41.55,70.210,70.210,33.03,18.32,54.920,54.305,35.61,79.815,58.9118
2015-07-07,41.54,71.060,71.060,33.41,18.20,55.645,54.375,35.77,79.820,57.7290
2015-07-08,40.54,69.290,69.290,32.36,17.63,54.635,53.390,34.79,78.310,55.1784
2015-07-09,40.99,70.860,70.860,32.52,17.15,54.720,54.050,34.39,77.350,54.9936
2015-07-10,41.71,70.890,70.890,33.83,17.57,55.260,54.570,34.65,77.100,56.7402
2015-07-13,42.38,71.310,71.310,33.93,17.61,56.205,55.700,34.88,77.710,57.4055
2015-07-14,42.53,73.340,73.340,33.86,19.61,56.170,55.750,35.12,78.360,57.4702
2015-07-15,42.67,70.690,70.690,33.92,18.89,55.950,55.340,34.73,78.690,56.9435
2015-07-16,43.07,69.190,69.190,34.57,19.61,56.170,55.740,35.16,78.890,57.5904
2015-07-17,42.82,66.270,66.270,34.76,20.12,56.400,55.690,35.01,78.930,57.0636
2015-07-20,42.98,64.830,64.830,34.31,18.89,56.565,56.210,34.90,78.380,56.8788
2015-07-21,44.15,65.970,65.970,34.71,18.88,56.495,56.200,34.57,78.690,55.3078
2015-07-22,44.73,66.240,66.240,35.12,18.00,57.045,56.690,34.27,78.520,55.5758
2015-07-23,44.47,66.290,66.290,36.48,18.70,57.000,56.560,33.93,77.900,55.3078
2015-07-24,43.72,63.900,63.900,35.00,18.34,56.495,57.290,34.29,77.260,54.4391
2015-07-27,43.26,63.300,63.300,35.09,18.12,55.865,56.980,34.32,76.490,53.7738
2015-07-28,43.59,64.990,64.990,36.06,19.75,56.735,57.140,34.33,77.740,54.8365
2015-07-29,43.78,67.650,67.650,35.52,19.87,57.460,57.510,34.69,78.750,54.8827

## Calculate Daily Returns

In [4]:
# Use the `pct_change` function to calculate daily returns
average = port.pct_change().dropna()
average

,FB,FANG,JNJ,LUV,MU,NKE,SBUX,T,WDC,WRK
date,,,,,,,,,,
2015-06-25,-0.010164,-0.020076,-0.020076,0.004076,-0.001663,-0.009414,0.006703,0.011179,-0.020290,-0.023352
2015-06-26,0.003034,-0.014923,-0.014923,-0.004929,-0.181515,0.042672,0.010172,-0.001658,-0.017452,0.000000
2015-06-29,-0.027687,-0.001196,-0.001196,-0.033217,-0.047304,-0.018594,-0.019590,-0.009690,-0.029485,-0.017770
2015-06-30,0.004307,0.002927,0.002927,-0.002712,0.005873,0.003251,0.001214,-0.006989,-0.043192,0.001645
2015-07-01,0.005004,-0.033961,-0.033961,-0.014204,-0.003185,0.013053,0.005129,0.001408,0.013007,0.024631
...,...,...,...,...,...,...,...,...,...,...
2019-05-14,-0.002969,0.017817,0.017817,0.011951,0.030230,0.013813,0.004956,0.020348,0.038148,0.029623
2019-05-15,-0.010636,-0.000458,-0.000458,0.006970,-0.002597,0.004064,0.009084,0.005146,0.019270,0.006722
2019-05-16,0.000645,0.014396,0.014396,0.011152,-0.028638,0.003214,0.014660,0.011840,-0.008793,-0.000534
2019-05-17,-0.009884,0.003525,0.003525,-0.006655,-0.033503,0.003441,0.000127,0.005693,-0.010202,-0.020310
2019-05-20,-0.002387,-0.012250,-0.012250,-0.004403,-0.039933,-0.020338,-0.028513,0.012264,-0.060049,-0.041189

##  Evaluate Riskiness of Stocks

In [5]:
# Use the `std` function and multiply by the square root of the number of trading days in a year to get annualized volatility
risk = average.std() * np.sqrt(252)
risk

FB      0.224967
FANG    0.370840
JNJ     0.370840
LUV     0.280021
MU      0.479955
NKE     0.246045
SBUX    0.206805
T       0.187579
WDC     0.415605
WRK     0.303601
dtype: float64

##  Drop High Volatility Stocks

In [7]:
# Drop the five stocks with the highest volatility in daily returns
for col in risk:
    if risk[col] > 0.30:
        risk.drop([col])
risk

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0.2249668662102489] of <class 'float'>

##  Set Portfolio Allocations/Weights and Calculate Portfolio Daily Returns

In [8]:
# Set weights for corresponding risk profile of stocks, use the `dot` function to sum the product each weight and the corresponding stock daily return
# BK, LUV, NKE, SBUX, T

##  Calculate Cumulative Returns

In [ ]:
 # Use the `cumprod` function to calculate cumulative returns

##  Plot Return of Portfolio Starting with Initial Investment of $10,000

In [9]:
# Plot the returns of the portfolio in terms of money